




.header{
    color: white;
    position: fixed;
    width: 100%;
    z-index: 50;
    transition: .5s ;
}
.header.shrink{
    background: black;
}
.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__logo{
    display: flex;
    align-items:center;
    gap: 30px;
}
.navbar__logo img{
    width: 56px;
}

.navbar__lists{
    display: flex;
    gap: 20px;
}
.navbar__link{
    font-weight: 500;
    font-size: 18px;
}
.navbar__options{
    display: flex;
    gap: 20px;
}
.navbar__options select{
    background: transparent;
    color: white;
    font-size: 16px;
}
.navbar__options a{
    font-size: 18px;
    font-weight: 500;
}
.navbar__options i{
    font-size: 20px;
}





/* HERO start */
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero::before{
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(black, transparent);
}
.hero video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* HERO end */


.category{
    background: #BEA087;
    padding: 20px 0;
}
.category__wrapper{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.category__item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.category__item img{
    width: 40px;
}








.product{
    margin:  60px 0;
}
.product__wrapper{
    display: flex;
    margin-top: 40px;
    gap: 20px;
    overflow: auto;
}

.product__card{
    min-width: 360px;
    width: 350px;
    text-align: center;
}
.product__image{
    position: relative;
}
.product__image img{
    border-radius: 50%;
}
.product__image span{
    position: absolute;
    top: 24px;
    left: 24px;
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 50%;
    color: white;
    display: grid;
    place-items: center;
    border: 4px solid white;
    box-sizing: content-box;
}
.product__body h3{
    margin: 14px 0 24px;
}
.product__body p{
    color: gray;
    margin-bottom: 14px;
}
.product__body strong{
    font-size: 18px;
}